@model IEnumerable<NCKH_HANGOSELL.Models.User>

@{
    ViewData["Title"] = "List User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">

            <div class="row align-items-center">

                <div class="col">
                    <h3 class="page-title">List User</h3>
                    <div class="col-auto text-end float-end ms-auto download-grp">
                        <a asp-area="Admin" asp-controller="UserRoles" asp-action="IndexUserRoles" class="btn btn-outline-gray me-2 active">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                        <a asp-area="Admin" asp-controller="UserRoles" asp-action="GridUserRoles" class="btn btn-outline-gray me-2">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                        <a asp-area="Admin" asp-controller="UserRoles" asp-action="CreateUserRoles" class="btn btn-outline-gray me-2">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="page-header">
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Join Date</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.JoinDate</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Status</td>
                                    <td>@item.Position</td>
                                    <td>
                                        <a asp-action="EditUserRoles" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a asp-action="DetailUserRoles" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a asp-action="DeleteUserRoles" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

