@model IEnumerable<NCKH_HANGOSELL.Models.User>

@{
    ViewData["Title"] = "List User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">

            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">List User</h3>
                    <div class="col-auto text-end float-end ms-auto download-grp">
                        <a href="/Admin/UserRoles/IndexUserRoles" class="btn btn-outline-gray me-2 active">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                        <a href="/Admin/UserRoles/GridUserRoles" class="btn btn-outline-gray me-2">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                        <a href="/Admin/UserRoles/CreateUserRoles" class="btn btn-outline-gray me-2">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">UserID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Join Date</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Position</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.UserId</td>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">@item.JoinDate?.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@item.PhoneNumber</td>
                                    <td class="text-center">@item.Status</td>
                                    <td class="text-center">@item.Position</td>
                                    <td class="text-center"><img src="~/@item.Avatar" style="width:36px; height:36px;" /></td>
                                    <td class="text-center">
                                        <a href="/Admin/UserRoles/EditUserRoles/@item.Id" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="/Admin/UserRoles/DetailUserRoles/@item.Id" class="btn btn-sm btn-info">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a href="/Admin/UserRoles/DeleteUserRoles/@item.Id" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

